
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录记账通</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <link href="~/Content/CSS/normalize.css" rel="stylesheet" />
    <link href="~/Content/CSS/demo.css" rel="stylesheet" />
    <!--必要样式-->
    <link href="~/Content/CSS/component.css" rel="stylesheet" />
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function changeCheckCode() {
            $("#img").attr("src", $("#img").attr("src") + 1); //?id=1 -> 2换图片,浏览器将认为是新的请求
        }
        function afterLogin(data) {
            $("#errorMsg0").text("");
            $("#errorMsg1").text("");
            $("#errorMsg2").text("");
            var serverData = data.split(':'); // Controller 传来的数据ok:XXX no:XXX
            if (serverData[0] == "ok") {
                window.location.href = "/Tally/Index"
            } else if (serverData[0] == "no0") {
                $("#errorMsg0").text(serverData[1]);
                changeCheckCode();
            } else if (serverData[0] == "no1") {
                $("#errorMsg1").text(serverData[1]);
                changeCheckCode();
            } else if (serverData[0] == "no2") {
                $("#errorMsg2").text(serverData[1]);
                changeCheckCode();
            }
            else {
                $("#errorMsg").text("系统繁忙!");
            }
        }
    </script>
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎登录记账通</h3>
                    @using (Ajax.BeginForm("CheckLogin", "Login", new AjaxOptions() { OnSuccess = "afterLogin" }, new { name = "form0", id = "form0" }))
                    {
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input name="LoginCode" id="LoginCode" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
                            <span id="errorMsg1"></span>
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input name="LoginPwd" id="LoginPwd" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码">
                            <span id="errorMsg2"></span>
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"><img id="img" src="/Login/ValidateCode/?id=1" style="float: left; height: 24px; width:35px;" onclick="changeCheckCode();return false;" /></span>
                            <input type="text" id="code" name="vCode" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" placeholder="请输入验证码" />
                            <span id="errorMsg0"></span>
                        </div>
                        <div class="mb2"><input type="submit" id="btnLogin" value="登录" class="act-but submit" style="color: #FFFFFF;width:330px;" /></div>
                    }
                    <a href="/Register/Index" style="color:gold">我是新用户</a>
                </div>
            </div>
        </div>
    </div><!-- /container -->
    <script src="~/Scripts/TweenLite.min.js"></script>
    <script src="~/Scripts/EasePack.min.js"></script>
    <script src="~/Scripts/rAF.js"></script>
    <script src="~/Scripts/demo-1.js"></script>
</body>
</html>